<h1>Hello From Angular</h1><br>

<app-routingdemo></app-routingdemo>

<p>----------------------------------</p>

<app-first-comp></app-first-comp>

<p>----------------------------------</p>

<!-- Data Binding -->

<app-databinding></app-databinding>

<p>----------------------------------</p>

<h2>Login Form </h2>
<app-login-form></app-login-form>

<p>----------------------------------</p>

<!-- Directives -->

<app-directives></app-directives>

<p>----------------------------------</p>

<!-- Pipes -->

<app-pipe-comp></app-pipe-comp>

<p>----------------------------------</p>

<!-- Inter Component Communication Parent to Child-->

<app-parent1></app-parent1>

<p>----------------------------------</p>

<!-- Inter Component Communication Child to Parent-->

<app-parent2></app-parent2>

<p>----------------------------------</p>

<!-- Services -->

<app-emp-list></app-emp-list>

<p>----------------------------------</p>

<app-emphttpcomp></app-emphttpcomp>

<p>----------------------------------</p>

<!-- Template Driven Form -->

<app-templatedrivenform></app-templatedrivenform>

<p>----------------------------------</p>

<!-- Model Driven Form / Reactive Forms-->

<app-reactiveforms></app-reactiveforms>