<!-- <div>
    <table>
        <tr>
            <th>Name</th>
            <th>Designation</th>
        </tr>
        <tr *ngFor="let item of employees">
            <td>{{item.name}}</td>
            <td>{{item.designation}}</td>
        </tr>
    </table>
</div> -->

<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Color</th>
            <th>Value</th>
        </tr>
        <tr *ngFor="let item of employees">
            <td>{{item.name}}</td>
            <td>{{item.year}}</td>
            <td>{{item.color}}</td>
            <td>{{item.pantone_value}}</td>
        </tr>
    </table>
</div>